# Configuration files
jest-setup.js
jest.config.js
webpack.config.ts

# Development folders
coverage/
cypress/
dist/

# Bundled plugins
src/marcusolsson-dynamictext-panel
src/volkovlabs-rss-datasource